
@import url('link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet"');

*{
    margin: 0,25%;
    padding: 0%;
}
    :root {

        --cor-1: #F3F5FC;
        --cor-2: #0A3871;
        --cor-3: #495057;
        --fonte-1: 'Inter',sans-serif;
        --tamanho-fonte-1: 2.25rem; 
        --tamanho-fonte-2: 0.8rem;        
    }

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-1);
    color: var(--cor-2);
    font-family: var(--fonte-1);
}

.logo {
    width: Hug (120px)px;
    height: Hug (48px)px;
    top: 40px;
    left: 30px;
    gap: 30px;
    opacity: 0px;
    font-family: var(--fonte-1);
}

.apresentacao {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label{
    font-family: var(--tamanho-fonte-1  );
}

.caixa_texto{
    color: var(--cor-2);
    width:  37.5rem;
    height: 12.5rem;
    top: 10.5rem;
    left: 15rem;
    gap: 6,25;
    opacity: 0px;
    border:none;
    font-family: var(--fonte-1);
    font-size: var(--tamanho-fonte-1);
    border-radius: 1rem;
}

.resultado {

    color:var(--cor-3);
    width: 600px;
    height: 200px;
    top: 168px;
    left: 240px;
    gap: 0px;
    opacity: 0px;
    border: none;
    font-family: var(--fonte-1);
    font-size: var(--tamanho-fonte-1);
    border-radius: 16px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.botoes__style {
    background-color: var(--cor-2);
    color: var(--cor-1);
    width: 190px;
    text-align: center;
    font-size: 24px;
    border-radius: 16px;
    padding: 8px 0px 8px;

}

.rodape {
    font-family: var(--fonte-1);
    padding: 70px;
    font-size: var(--tamanho-fonte-2);
}